<nb-layout>
    <nb-layout-column *ngIf="order">
        <div class="container">
            <div class="header-title-details">
                <button nbButton size="small"
                        [nbTooltip]="'actions.return'|translate"
                        nbTooltipPlacement="bottom"
                        nbTooltipStatus="info"
                        status="info" (click)="onBack()">
                    <nb-icon icon="arrow-left"></nb-icon>
                </button>
                <h1>{{ 'order.details.title'|translate }}</h1>
            </div>

            <div class="divider"></div>

            <div class="order-action-row">
                <button *ngIf="!order.validatedAt"
                        nbButton size="small"
                        status="info" (click)="onEdit()">
                    <nb-icon icon="edit-outline"></nb-icon>
                    {{'actions.update'|translate}}
                </button>
                <button *ngIf="!order.validatedAt && (currentEntity$|async).authorUuid === (connectedUser$|async).uuid"
                        nbButton hero status="success" size="small"
                        (click)="onValidate()">
                    <nb-icon icon="checkmark-circle"></nb-icon>
                    {{'order.validate'|translate}}
                </button>
                <button nbButton size="small"
                        *ngIf="!order.validatedAt && (currentEntity$|async).authorUuid === (connectedUser$|async).uuid"
                        status="danger" (click)="onDelete()">
                    <nb-icon icon="trash-2-outline"></nb-icon>
                    {{'actions.delete'|translate}}
                </button>
            </div>

            <div class="divider"></div>

            <div class="details-card">
                <div class="card-row">
                    <nb-card>
                        <nb-card-header>
                            {{'order.create-form.client'|translate}}
                            <button nbButton size="small" class="button-space"
                                    [nbTooltip]="'order.details.client-redirect'|translate"
                                    nbTooltipPlacement="bottom"
                                    nbTooltipStatus="info"
                                    status="info" (click)="onShowClientDetails()">
                                <nb-icon icon="skip-forward-outline"></nb-icon>
                            </button>
                        </nb-card-header>
                        <nb-card-body>
                            {{ order.client.fullName }}
                        </nb-card-body>
                    </nb-card>
                    <nb-card *ngIf="order.duration">
                        <nb-card-header>
                            {{'order.create-form.duration'|translate}}
                        </nb-card-header>
                        <nb-card-body>
                            {{ order.duration }}
                        </nb-card-body>
                    </nb-card>
                    <nb-card *ngIf="order.performedAt">
                        <nb-card-header>
                            {{'order.create-form.performed-at'|translate}}
                        </nb-card-header>
                        <nb-card-body>
                            {{ order.performedAt | date: 'dd:MM:YYYY' }}
                        </nb-card-body>
                    </nb-card>
                    <nb-card *ngIf="order.validatedAt">
                        <nb-card-header>
                            {{'order.columns.validatedAt'|translate}}
                        </nb-card-header>
                        <nb-card-body>
                            {{ order.validatedAt | date: 'dd:MM:YYYY' }}
                        </nb-card-body>
                    </nb-card>
                </div>
            </div>

            <div class="order-service-details">
                <div class="header-title">
                    <h4>{{'order.details.services'|translate}}</h4>
                </div>

                <div class="divider" [ngClass]="!order.services ? 'spacing':''"></div>

                <table class="table" [nbTreeGrid]="dataSource"
                       equalColumnsWidth
                        *ngIf="order.services.length > 0">

                    <tr nbTreeGridHeaderRow *nbTreeGridHeaderRowDef="defaultColumns"></tr>
                    <tr nbTreeGridRow *nbTreeGridRowDef="let row; columns: defaultColumns"></tr>

                    <ng-container *ngFor="let column of defaultColumns" [nbTreeGridColumnDef]="column">
                        <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef>
                            {{ 'order.columns.'+ column |translate }}
                        </th>

                        <td nbTreeGridCell *nbTreeGridCellDef="let row">{{row.data[column]}}</td>
                    </ng-container>
                </table>

                <div class="total-box">
                    <nb-card>
                        <nb-card-body>
                            <h6>{{'order.columns.total'|translate}}</h6>
                            {{ order.totalInCent/ 100 | currency: 'EUR' }}
                        </nb-card-body>
                    </nb-card>
                </div>
            </div>
        </div>
    </nb-layout-column>
</nb-layout>