<div class="container-form">
    <nb-card center>
        <nb-card-body>
            <h1 id="title" class="title">{{ 'actions.register'|translate }}</h1>

            <form [formGroup]="registerForm" aria-labelledby="title">

                <div class="form-control-group">
                    <label class="label" for="input-email">{{ 'forms.email'| translate }}</label>
                    <input nbInput
                           fullWidth
                           id="input-email"
                           formControlName="email"
                           type="email"
                           autofocus>
                    <ng-container *ngIf="isEmailRequired">
                        <p class="caption status-danger">
                            {{ 'forms.email-required'| translate }}
                        </p>
                    </ng-container>
                    <ng-container *ngIf="isEmailInvalid">
                        <p class="caption status-danger">
                            {{ 'forms.email-invalid'| translate }}
                        </p>
                    </ng-container>
                </div>

                <div class="form-control-group">
                    <label class="label" for="code">{{ 'forms.invitation-code'| translate }}</label>
                    <code-input id="code" (codeCompleted)="validateInvitationCode($event)">
                    </code-input>
                    <ng-container *ngIf="isCodeRequired">
                        <p class="caption status-danger">
                            {{ 'forms.code-required'| translate }}
                        </p>
                    </ng-container>
                </div>

                <div class="form-control-group">
                    <label class="label" for="input-password">{{ 'forms.password'| translate }}</label>
                    <nb-form-field>
                        <input [type]="getPasswordInputType()"
                               nbInput
                               fullWidth
                               formControlName="password"
                               type="password"
                               id="input-password"
                               (input)="onPasswordChange()">
                        <button nbSuffix nbButton ghost (click)="toggleShowPassword()">
                            <nb-icon [icon]="showPassword ? 'eye-outline' : 'eye-off-2-outline'"
                                     pack="eva"
                                     [attr.aria-label]="showPassword ? 'hide password' : 'show password'">
                            </nb-icon>
                        </button>
                    </nb-form-field>
                    <ng-container *ngIf="isPasswordRequired">
                        <p class="caption status-danger">
                            {{ 'forms.password-required'| translate }}
                        </p>
                    </ng-container>
                </div>

                <div class="form-control-group">
                    <label class="label" for="input-confirm-password">{{ 'forms.confirm-password'| translate }}</label>
                    <nb-form-field>
                        <input [type]="getConfirmPasswordInputType()"
                               nbInput
                               fullWidth
                               formControlName="confirmPassword"
                               type="password"
                               id="input-confirm-password">
                        <button nbSuffix nbButton ghost (click)="toggleConfirmShowPassword()">
                            <nb-icon [icon]="showConfirmPassword ? 'eye-outline' : 'eye-off-2-outline'"
                                     pack="eva"
                                     [attr.aria-label]="showConfirmPassword ? 'hide password' : 'show password'">
                            </nb-icon>
                        </button>
                    </nb-form-field>
                    <ng-container *ngIf="isConfirmPasswordRequired">
                        <p class="caption status-danger">
                            {{ 'forms.confirm-password-required'| translate }}
                        </p>
                    </ng-container>
                    <ng-container *ngIf="!isConfirmPasswordRequired && arePasswordNotMatching">
                        <p class="caption status-danger">
                            {{ 'forms.confirm-password-not-match'| translate }}
                        </p>
                    </ng-container>

                </div>

                <div class="button-control-group">
                    <button nbButton
                            fullWidth
                            hero
                            status="info"
                            [nbSpinner]="isSubmitted"
                            nbSpinnerStatus="info"
                            [disabled]="isSubmitted || !registerForm.valid"
                            [class.btn-pulse]="isSubmitted"
                            (click)="onRegister()">
                        {{ 'register.create'|translate }}
                    </button>
                </div>
            </form>

            <section class="another-action" aria-label="Register">
                {{ 'register.already-account'|translate }} <a class="text-link" routerLink="/auth/login">{{ 'register.connect'|translate }}</a>
            </section>
        </nb-card-body>
    </nb-card>
</div>