<div class="container-form">
    <nb-card center>
        <nb-card-body>
            <h1 id="title" class="title">{{ 'actions.register'|translate }}</h1>

            <nb-alert *ngIf="errorMessages && !isSubmitted" outline="danger" role="alert">
                <!--                <p class="alert-title"><b>{{ 'errors.title'|translate }}</b></p>-->
                <p class="alert-error-message">
                    <b>{{ errorMessages }}</b>
                </p>
            </nb-alert>

            <form [formGroup]="registerForm" aria-labelledby="title">

                <div class="form-control-group">
                    <label class="label" for="input-email">{{ 'forms.email'| translate }}</label>
                    <input nbInput
                           fullWidth
                           id="input-email"
                           formControlName="email"
                           pattern=".+@.+\..+"
                           autofocus>
                    <ng-container *ngIf="isEmailRequired()">
                        <p class="caption status-danger">
                            {{ 'forms.email-required'| translate }}
                        </p>
                    </ng-container>
                    <ng-container *ngIf="isEmailInvalid()">
                        <p class="caption status-danger">
                            {{ 'forms.email-invalid'| translate }}
                        </p>
                    </ng-container>
                </div>

                <div class="form-control-group">
                    <label class="label" for="input-password">{{ 'forms.password'| translate }}</label>
                    <input nbInput
                           fullWidth
                           formControlName="password"
                           type="password"
                           id="input-password"
                           (input)="onPasswordChange()"
                    >
                    <ng-container *ngIf="isRequiredInputInvalid('password')">
                        <p class="caption status-danger">
                            {{ 'forms.confirm-password-required'| translate }}
                        </p>
                    </ng-container>
                </div>

                <div class="form-control-group">
                    <label class="label" for="input-confirm-password">{{ 'forms.confirm-password'| translate }}</label>
                    <input nbInput
                           fullWidth
                           formControlName="confirmPassword"
                           type="password"
                           id="input-confirm-password"
                    >
                    <ng-container *ngIf="isRequiredInputInvalid('confirmPassword')">
                        <p class="caption status-danger">
                            {{ 'forms.confirm-password-required'| translate }}
                        </p>
                    </ng-container>
                    <ng-container *ngIf="isConfirmPasswordError">
                        <p class="caption status-danger">
                            {{ 'forms.confirm-password-not-match'| translate }}
                        </p>
                    </ng-container>

                </div>

                <div class="button-control-group">
                    <button nbButton
                            fullWidth
                            status="info"
                            [nbSpinner]="isSubmitted"
                            nbSpinnerStatus="info"
                            [disabled]="isSubmitted || !registerForm.valid"
                            [class.btn-pulse]="isSubmitted"
                            (click)="onRegister()">
                        {{ 'register.create'|translate }}
                    </button>
                </div>
            </form>

            <section class="another-action" aria-label="Register">
                {{ 'register.already-account'|translate }} <a class="text-link" routerLink="/auth/login">{{ 'register.connect'|translate }}</a>
            </section>
        </nb-card-body>
    </nb-card>
</div>