<nb-layout>
    <nb-layout-column *ngIf="client">
        <div class="container">
            <div class="header-title-details">
                <button nbButton size="small"
                        [nbTooltip]="'actions.return'|translate"
                        nbTooltipPlacement="bottom"
                        nbTooltipStatus="info"
                        status="info" (click)="onBack()">
                    <nb-icon icon="arrow-left"></nb-icon>
                </button>
                <h1>{{ 'client.details.title'|translate }}</h1>
            </div>
            <div class="divider"></div>

            <div class="personal-data">
                <nb-card accent="info">
                    <nb-card-body>
                        <div class="flex-row">
                            <div class="flex-column">
                                <label class="label">{{'client.create-form.first-name'|translate}}</label>
                                {{client.firstName}}
                            </div>
                            <div class="flex-column">
                                <label class="label">{{'client.create-form.last-name'|translate}}</label>
                                {{client.lastName}}
                            </div>
                            <div class="flex-column">
                                <div class="flex-row actions-column">
                                    <button nbButton hero status="info" size="small" (click)="onEditClient(client)">
                                        <nb-icon icon="edit-outline"></nb-icon>
                                    </button>
                                    <button *ngIf="(currentEntity$|async).authorUuid === (connectedUser$|async).uuid"
                                            nbButton hero status="danger" size="small" (click)="onDeleteClient(client)">
                                        <nb-icon icon="trash-2-outline"></nb-icon>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </nb-card-body>
                </nb-card>
            </div>

            <div class="address">
                <div class="header-title">
                    <h4>{{'client.details.address'|translate}}</h4>
                    <button nbButton hero status="info" size="small"
                            *ngIf="!client.address"
                            (click)="onCreateAddress()">
                        {{'actions.add'|translate }}
                    </button>
                </div>

                <div class="divider" [ngClass]="!client.address ? 'spacing':''"></div>
                <nb-card class="address-card" *ngIf="client.address">
                    <nb-card-body>
                        <div class="flex-row">
                            <div class="flex-column">
                                <label class="label">{{'address.street'|translate}}</label>
                                {{client.address.street}}
                            </div>
                            <div class="flex-column">
                                <label class="label">{{'address.box'|translate}}</label>
                                {{client.address.box}}
                            </div>
                            <div class="flex-column">
                                <label class="label">{{'address.postalCode'|translate}}</label>
                                {{client.address.postalCode}}
                            </div>
                        </div>
                        <div class="flex-row">
                            <div class="flex-column">
                                <label class="label">{{'address.locality'|translate}}</label>
                                {{client.address.locality}}
                            </div>
                            <div class="flex-column">
                                <label class="label">{{'address.country'|translate}}</label>
                                {{client.address.country}}
                            </div>
                            <div class="flex-column">
                                <div class="flex-row actions-column">
                                    <button nbButton hero status="info" size="small" (click)="onEditAddress(client.address)">
                                        <nb-icon icon="edit-outline"></nb-icon>
                                    </button>
                                    <button *ngIf="(currentEntity$|async).authorUuid === (connectedUser$|async).uuid"
                                            nbButton hero status="danger" size="small" (click)="onDeleteAddress()">
                                        <nb-icon icon="trash-2-outline"></nb-icon>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </nb-card-body>
                </nb-card>
            </div>

            <div class="cars">
                <div class="header-title">
                    <h4>{{'client.details.cars'|translate}}</h4>
                    <button nbButton hero status="info" size="small"
                            (click)="onAddCar()">
                        {{'actions.add'|translate }}
                    </button>
                </div>

                <div class="divider" [ngClass]="!client.cars || client.cars.length === 0 ? 'spacing':''"></div>
                  <span *ngIf="client.cars && client.cars.length > 0">
                    <nb-card *ngFor="let car of client.cars" class="car">
                      <nb-card-body>
                          <div class="flex-row">
                              <div class="flex-column">
                                  <label class="label">{{'car.merch'|translate}}</label>
                                  {{car.merch}}
                              </div>
                              <div class="flex-column">
                                  <label class="label">{{'car.model'|translate}}</label>
                                  {{car.model}}
                              </div>
                              <div class="flex-column">
                                  <label class="label">{{'car.color'|translate}}</label>
                                  {{car.color}}
                              </div>
                          </div>
                          <div class="flex-row">
                              <div class="flex-column">
                                  <label class="label">{{'car.plate'|translate}}</label>
                                  {{car.plate}}
                              </div>
                              <div class="flex-column">
                                  <label class="label">{{'car.year'|translate}}</label>
                                  {{car.year}}
                              </div>
                              <div class="flex-column">
                                  <div class="flex-row actions-column">
                                      <button nbButton hero status="info" size="small" (click)="onEditCar(car)">
                                          <nb-icon icon="edit-outline"></nb-icon>
                                      </button>
                                      <button *ngIf="(currentEntity$|async).authorUuid === (connectedUser$|async).uuid"
                                              nbButton hero status="danger" size="small" (click)="onDeleteCar(car)">
                                          <nb-icon icon="trash-2-outline"></nb-icon>
                                      </button>
                                  </div>
                              </div>
                          </div>
                      </nb-card-body>
                    </nb-card>
                  </span>
            </div>
        </div>
    </nb-layout-column>
</nb-layout>
