<nb-layout>
    <nb-layout-column [nbSpinner]="isSubmitted"
                      nbSpinnerStatus="info">
        <div class="container">
            <div class="header-title">
                <h1>{{ 'sidebar.entities'|translate }}</h1>
            </div>
            <div class="divider"></div>
            <table class="table" [nbTreeGrid]="dataSource" nbSort (sort)="changeSort($event)" equalColumnsWidth>

                <tr nbTreeGridHeaderRow *nbTreeGridHeaderRowDef="allColumns"></tr>
                <tr nbTreeGridRow *nbTreeGridRowDef="let row; columns: allColumns"></tr>

                <ng-container [nbTreeGridColumnDef]="customColumn">
                    <th nbTreeGridHeaderCell [nbSortHeader]="getDirection(customColumn)" *nbTreeGridHeaderCellDef>
                        {{ 'entity.columns.'+ customColumn |translate }}
                    </th>

                    <td nbTreeGridCell *nbTreeGridCellDef="let row" >
                        <nb-icon *ngIf="row.hasChildren()" status="info" [icon]="row.expanded ? 'chevron-down-outline' : 'chevron-right-outline'"
                                 aria-hidden="true">
                        </nb-icon>
                        {{row.data.name}}
                    </td>
                </ng-container>

                <ng-container *ngFor="let column of defaultColumns" [nbTreeGridColumnDef]="column">
                    <th nbTreeGridHeaderCell [nbSortHeader]="getDirection(column)" *nbTreeGridHeaderCellDef>
                        {{ 'entity.columns.'+ column |translate }}
                    </th>

                    <td nbTreeGridCell *nbTreeGridCellDef="let row">{{row.data[column]}}</td>
                </ng-container>

            </table>
        </div>
    </nb-layout-column>
</nb-layout>
