<nb-layout>
    <nb-layout-column [nbSpinner]="isSubmitted"
                      nbSpinnerStatus="info">
        <div class="container">
            <div class="header-title">
                <h1>{{ 'sidebar.entity'|translate }}</h1>
                <button nbButton hero status="info" size="large"
                        *ngIf="(currentEntity$|async).authorUuid === (connectedUser$|async).uuid"
                        (click)="onInvite()">
                    {{'actions.invite'|translate }}
                </button>
            </div>
            <div class="divider"></div>
            <table class="table" [nbTreeGrid]="dataSource" nbSort (sort)="changeSort($event)" equalColumnsWidth>

                <tr nbTreeGridHeaderRow *nbTreeGridHeaderRowDef="allColumns"></tr>
                <tr nbTreeGridRow *nbTreeGridRowDef="let row; columns: allColumns"></tr>

                <ng-container *ngFor="let column of defaultColumns" [nbTreeGridColumnDef]="column">
                    <th nbTreeGridHeaderCell [nbSortHeader]="getDirection(column)" *nbTreeGridHeaderCellDef>
                        {{ 'entity.columns.'+ column |translate }}
                    </th>

                    <td nbTreeGridCell *nbTreeGridCellDef="let row">{{row.data[column]}}</td>
                </ng-container>

                <ng-container [nbTreeGridColumnDef]="customColumn">
                    <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef>{{ 'actions.actions'| translate}}</th>
                    <td nbTreeGridCell *nbTreeGridCellDef="let row" class="actions-column">
                        <button nbButton hero status="danger" size="small"
                                *ngIf="row.data.uuid === (currentEntity$|async).authorUuid && row.data.uuid !== (connectedUser$|async).uuid"
                                (click)="onDelete(row.data)">
                            <nb-icon icon="trash-2-outline"></nb-icon>
                        </button>
                    </td>
                </ng-container>

            </table>
        </div>
    </nb-layout-column>
</nb-layout>
