<nb-card accent="info">
    <nb-card-header>{{ 'expenditure.creation'|translate }}</nb-card-header>
    <nb-card-body>
        <form [formGroup]="expenditureForm">

            <div class="form-control-group">
                <label class="label" for="name">{{ 'forms.expenditure-name'| translate }}*</label>
                <input nbInput
                       fullWidth
                       id="name"
                       formControlName="name"
                       autofocus>
                <ng-container *ngIf="isNameRequiredInput">
                    <p class="caption status-danger">
                        {{ 'forms.entity-name-required'| translate }}
                    </p>
                </ng-container>
            </div>

            <div class="form-control-group">
                <label class="label" for="priceInCent">{{ 'forms.price'| translate }}*</label>
                <nb-form-field>

                    <input nbInput
                           type="number"
                           step=".01"
                           min="0"
                           fullWidth
                           id="priceInCent"
                           formControlName="priceInCent"
                           autofocus>
                    <nb-icon nbPrefix icon="credit-card" pack="eva"></nb-icon>
                </nb-form-field>

                <ng-container *ngIf="isPriceRequiredInput">
                    <p class="caption status-danger">
                        {{ 'forms.price-required'| translate }}
                    </p>
                </ng-container>
            </div>

            <div class="form-control-group">
                <label class="label" for="boughtAt">{{ 'forms.bought-at'| translate }}</label>
                <input [nbDatepicker]="datepicker"
                       nbInput
                       fullWidth
                       id="boughtAt"
                       formControlName="boughtAt"
                       autofocus>
                <nb-datepicker #datepicker></nb-datepicker>
            </div>

        </form>
    </nb-card-body>
    <nb-card-footer>
        <div class="actions">
            <button nbButton hero status="danger" (click)="onClose()"> {{ 'actions.cancel'|translate }} </button>
            <button nbButton hero status="info"
                    [disabled]="!expenditureForm.valid"
                    (click)="onSubmit()"> {{ 'actions.add'|translate }} </button>
        </div>
    </nb-card-footer>
</nb-card>